<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci pour ta commande <%= @user.first_name %>  <%= @user.last_name %>  !</h1>
    <p>
      Si tu reçois ce mail, c'est que tu viens de commander un voyage chez nous.
    </p>
    <p>
      Tu es officielement un Traveler, il ne te reste plus qu'à faire ta valise et ne pas oublier ton passeport ;)
    </p>
    <p>
      Tu peux accéder aux infos de ton voyage sur ton espace traveler, connecte-toi sur : <%= @url %>  en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p> À très vite sur Zigzago ! </p>
    <p><em>Tout ce que vous avez à faire, c’est décider de partir et le plus dur est fait.</em></p>
  </body>
</html>