<div class="super_container">
	
	<!-- Home -->

	<div class="home">
		<!-- Image by https://unsplash.com/@peecho -->
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="https://i.f1g.fr/media/madame/1900x800_crop/sites/default/files/img/2018/05/la-felicita-a-station-f.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content">
						<div class="home_content_inner">
							<div class="home_title">Vos favoris</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>


	<!-- Cards without Details collapse -->

	<div class="services">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h2>Vos favoris</h2></br></br></br></br>
					</div>
				</div>
			</div>

			<div class="card">
			    <table>
			        <tbody>
			            <tr>
			              <td>
			              	<p class="card-departure-time">Heure départ<br>
			              	<span class="card-departure-place">Lieu départ</span></p></td>
			              <td>
			              	<p class="card-duration">X escale(s)</br>Durée</p></td>
			              <td class="font-weight-normal align-middle">	<p class="card-arrival-time">Heure arrivée</br>
			              	<span class="card-arrival-place">Lieu arrivée</span></p></td>
			              <td class="card-favorites-price">
			                <a href="#" class="button-rose">Prix</a>
			              </td>
			            </tr>
			            <tr class="card-row-bottom">
							<td></td>
			            	<td class="card-show-td-button" align="center">
							<button type="button" class="button-blue" data-toggle="collapse" data-target="#collapseme">Détails</button></td>
			              <td class="font-weight-normal align-middle">	</td>
			              <td class="card-favorites-price">
			              	<a href="#" class="btn btn-outline-danger mr-1">Supprimer</a>
			              	</td>
			            </tr>
			            <tr class="collapse out" id="collapseme">
			              <td>
			              	<p class="card-show-flight-details">Durée</p></td>
			              <td>
			              	<p class="card-show-flight-details">Heure départ</br>Heure arrivée<sup> +1</sup></p></td>
			              <td class="font-weight-normal align-middle">	<p class="card-show-flight-details">AITA aéroport</br>AITA aéroport</p></td></td>
			            </tr>
			        </tbody>
			    </table>
			</div>
		</div>
	</div>