<%= @favorite.each do |favorite| %>

	<div class="card">
	    <table>
	        <tbody>
	            <tr class="card-row">
	              <td>
	              	<p class="card-departure-time">favorite.departure_date<br>
		              	<span class="card-departure-place">favorite.city_departure</span></p>
	       		 </td>
	             <td>
	              	<p class="card-duration">favorite.duration</p>
	       		 </td>
	             <td class="font-weight-normal align-middle">	<p class="card-arrival-time">favorite.return_date<br>
		              	<span class="card-arrival-place">favorite.destination</span></p>
	    	     </td>
	             <td class="cell-price">
	                <p class="card-price">favorite.price</p>
	             </td>
	             <td class="card-icon-favorite">
	             </td>
	            </tr>
		        <tr>
		         <td>
	             	<p class="card-departure-time">favorite.back_departure_date<br>
	              	<span class="card-departure-place">favorite.back_city_departure</span></p>
	      		 </td>
	             <td>
	              	<p class="card-duration">favorite.back_duration</p>
	      		 </td>
	             <td class="font-weight-normal align-middle"> <p class="card-arrival-time">favorite.back_return_date<br>
	              	<span class="card-arrival-place">favorite.back_destination</span></p>
	             </td>
	             <td class="cell-price">
	              	<p class="card-price">favorite.back_price</p>
	       		 </td>
	             <td></td>
	            </tr>
	        </tbody>
	    </table>
	</div>
	
<% end %>