<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1> Un nouveau message a été envoyé depuis le site : </h1>
  
  <p> Nom : </p><br>
  <p> Adresse email :  </p><br>
  <p> Message : </p><br>
  <p>  </p>

</body>
</html>