<% results.each do |result| %>
  <div class="popular">
   <div class="container">
     <div class="card">
  <!-- Cards -->
     <div class="card" style="width: 48rem;">
       <div class="card-body">
         <h5 class="card-title">Vol</h5>
         <h6 class="card-subtitle mb-2 text-muted">Vroum vroum</h6>
         <p class="card-text">Super carte de ouf pour ton prochain vol</p>
         <table class="table table-borderless table-sm mb-0">
             <tbody>
               <tr>
                 <% result['offerItems'].each do |offerItem| %>
                   <% offerItem['services'].each do |service| %>
                     <% service['segments'].each do |segment| %>
                      <%= segment['flightSegment']['departure']['iataCode'] %>
                     <% end %>
                   <% end %>
                   <td class="float-right font-weight-normal">
                     <p class="mb-1"><%= offerItem['price']['total'] %></p>
                   </td>
                 <% end %>
                 <!-- <td class="font-weight-normal align-middle">Lieu départ</td>
                 <td class="font-weight-normal align-middle">Lieu arrivée</td>
                 <td class="font-weight-normal align-middle">Date départ</td>
                 <td class="font-weight-normal align-middle">Date arrivée</td> -->
               </tr>
             </tbody>
           </table>
         <a href="#" class="card-link">Card link</a>
         <a href="#" class="card-link">Another link</a>
       </div>
     </div>
    </div>
   </div>
  </div>
<% end %>
