<div class="home">
        <%= image_tag("home.jpg", class:"home_background", data: { parallax: "scroll", speed: "0.8"}) %>
        <div class="home_content">
            <div class="home_content_inner">
                <div class="home_text_large">discover</div>
                <div class="home_text_small">Discover new worlds</div>
            </div>
        </div>
    </div>