<div class="super_container">

	<div class="home contact">
    <div class="home_background parallax-window small-banner" data-parallax="scroll" data-speed="0.8">
      <%= image_tag("news.jpg") %>
    </div>
    <div class="home_content">
      <div class="home_content_inner">
        <%= link_to "Contacts", "#ancre", class: "home_text_small" %>
      </div>
    </div>
  </div>

	<div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="contact_title">Un renseignement ? Une remarque ? </div>
					<div class="contact_subtitle">N'hésitez pas à joindre notre équipe, nous reviendrons vers vous dans les meilleurs délais.</div>
				</div>
			</div>
			<div class="row contact_content">
				<div class="col-lg-5">
					<div class="contact_info">
						<div class="contact_info_box">i</div>
						<div class="contact_info_container">
							<div class="contact_info_content">
								<ul>
									<li>Drieli Luz / @Dri</li>
									<li>Vincent Gillibert / @VincentG</li>
									<li>Antoine Jacques / @Tonio</li>
									<li>Thibault Telliez / @Thibault Tlz</li>
									<li>Lucas Piquet @Lucas Piquet</li>
								</ul>
							</div>
							<div class="contact_info_social">
								<ul>
									<li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
									<li><i class="fa fa-pinterest" aria-hidden="true"></i></li>
									<li><i class="fa fa-facebook" aria-hidden="true"></i></li>
									<li><i class="fa fa-twitter" aria-hidden="true"></i></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="container google-map">
						<div class="d-none d-sm-block mb-5 pb-4">
							<iframe src="https://snazzymaps.com/embed/161225" width="100%" height="600px" style="border:none;"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
