<!DOCTYPE html>
<html lang="en">
<head>
<title>Contact</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Destino project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="styles/contact_responsive.css">
</head>
<body>

<div class="super_container">
	
	<!-- Home -->

	<div class="home">
		<!-- Image by https://unsplash.com/@peecho -->
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/news.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content">
						<div class="home_content_inner">
							<div class="home_title">Contact</div>
							<div class="home_breadcrumbs"></div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>

	<!-- Contact -->

	<div class="contact">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="contact_title">Un renseignement ? Une remarque ? </div>
					<div class="contact_subtitle">N'hésitez pas à joindre notre équipe, nous reviendrons vers vous dans les meilleurs délais.</div>
				</div>
			</div>
			<div class="row contact_content">
				<div class="col-lg-5">
					<div class="contact_info">
						<div class="contact_info_box">i</div>
						<div class="contact_info_container">
							<div class="contact_info_content">
								<ul>
									<li>Drieli Luz / @Dri</li>
									<li>Vincent Gillibert / @VincentG</li>
									<li>Antoine Jacques / @Tonio</li>
									<li>Thibault Telliez / @Thibault Tlz</li>
									<li>Lucas Piquet @Lucas Piquet</li>
								</ul>
							</div>
							<div class="contact_info_social">
								<ul>
									<li><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
									<li><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="contact_form_container">
						<form action="#" id="contact_form" class="clearfix">
							<input id="contact_input_name" class="contact_input contact_input_name" type="text" placeholder="Nom complet" required="required" data-error="Le nom est requis !">
							<input id="contact_input_email" class="contact_input contact_input_email" type="text" placeholder="Email" required="required" data-error="L'email est requis !">
							<input id="contact_input_subject" class="contact_input contact_input_subject" type="text" placeholder="Objet">
							<textarea id="contact_input_message" class="contact_message_input contact_input_message" name="message" placeholder="Message" required="required" data-error="Merci de nous écrire un message !"></textarea>
							<button id="contact_send_btn" type="submit" class="contact_send_btn trans_200" value="Submit">Envoyer</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

  <div class="container">
    <div class="d-none d-sm-block mb-5 pb-4">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.366795820513!2d2.370818351563765!3d48.83214187918323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e673c1a7b05e93%3A0x43df410cb9fd7b90!2sLa+Felicit%C3%A0!5e0!3m2!1sfr!2sfr!4v1559211067631!5m2!1sfr!2sfr" width="1100" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

</div>

<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
</body>
</html>
