	/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

*= require easy-autocomplete
*= require easy-autocomplete.themes

*= require styles/bootstrap4/bootstrap.min

*= require plugins/font-awesome-4.7.0/css/font-awesome.min
*= require plugins/OwlCarousel2-2.2.1/owl.carousel
*= require plugins/OwlCarousel2-2.2.1/owl.theme.default
*= require plugins/OwlCarousel2-2.2.1/animate
*= require plugins/magnific-popup/magnific-popup

*= require styles/main_styles
*= require styles/responsive
*= require styles/contact_styles
*= require styles/contact_responsive
*= require styles/about_styles
*= require styles/about_responsive
*= require styles/offers_styles
*= require styles/offers_responsive

*= require_tree .
*= require_self

*/

.footer {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.footer_about_text {
	width: 60%;
	margin: auto;
}

.find {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.logo a {
	color: white;
}

.header a {
	outline: none;
}

.alert{
	margin-left: 450px;
	margin-right: 450px;
	text-align: center;
	margin-bottom: 0px !important;
}

.div-center {
		display: inline-block;
}

.home_content_inner a:hover {
	color: white;

}

.home_content_banner {
	margin-top: -8vh;
}

table {
	border-collapse: collapse;
}

td {
	border: 0;
}


.card {
	width: 40rem;
	padding: 6px;
	margin: 0 auto;
	float: none;
  margin-bottom: 10px;
}

.card-departure-time {
	text-align: right;
	padding-right: .375rem;
	padding-left: .375rem;
	padding-top: .5rem;
	font-size: 1.5rem;
	padding-bottom: 0rem;
	line-height: 1.4;
	margin-bottom: 0px;
}

.card-departure-place {
	text-align: right;
	padding-right: .375rem;
	padding-left: .375rem;
	font-size: 1rem;
	padding-top: 0px;
}

.card-duration {
	text-align: center;
	padding-right: .375rem;
	padding-left: .375rem;
	margin-bottom: 1px;
	line-height: 20px;
}

.card-arrival-time {
	text-align: left;
	font-size: 1.5rem;
	padding-left: .375rem;
	padding-right: .375rem;
	padding-bottom: 0rem;
	padding-top: .5rem;
	line-height: 1.4;
	margin-bottom: 0px;
}

.card-arrival-place {
	text-align: left;
	padding-left: .375rem;
	padding-right: .375rem;
	font-size: 1rem;
}

.card-price {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: .375rem;
	padding-right: .375rem;
	padding-top: 1rem;
	margin-bottom: 0px;

}

.card-icon-favorite {
	vertical-align: text-top;
	text-align: right;
	padding-right: .375rem;
	padding-left: .375rem;
	padding-top: 0rem;
	font-size: 1.5rem;
	padding-bottom: 0rem;
	margin-bottom: 0px;

}

.card-book {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: .375rem;
	padding-right: .375rem;
	margin-bottom: 2px;

}

.card-details {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: .375rem;
	padding-right: .375rem;
	padding-bottom: .5rem;
	padding-top: .5rem;
	margin-bottom: 0px;

}

.card-button {
	text-align: center;
}

.icon_image {
	width: 2rem;
}

td.font-weight-normal {
	vertical-align: bottom;
	padding: 0px;
}

td.float-right {
	border-left: 2px;
}

.cell-price {
	text-align: center;
	padding-left: .6rem;
	padding-right: .6rem;
	padding-top: 0px;
	border-left: 1.2px dashed #939393;
}

.icon-image {
    width: 2px;
    height: 2px;
}

.card-show-flight-main {
	padding-bottom: 10rem;
}

.card-show-departure {
	text-align: right;
	padding-right: .375rem;
	padding-left: .375rem;
	padding-top: .5rem;
	font-size: 1.5rem;
	padding-bottom: 1rem;
	line-height: 1.4;
	margin-bottom: 0px;
}

.card-show-arrival {
	text-align: left;
	font-size: 1.5rem;
	padding-left: .375rem;
	padding-right: .375rem;
	padding-bottom: 1rem;
	padding-top: .5rem;
	line-height: 1.4;
	margin-bottom: 0px;
}

.card-show-flight-wrap {
	border-top: 2px dotted #939393;
}

.card-show-flight-details
{
	text-align: center;
	font-size: 1rem;
	padding-top: 1rem;
	padding-bottom: .5rem;
	line-height: 2;
	margin-bottom: 0px;
}

.card-show-td-button {
	padding-bottom: 1rem;
}

.card-show-price {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: .375rem;
	padding-right: .375rem;
}

.card-favorites {
	width: 45rem;
	padding: 6px;
	margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card-favorites-price {
	text-align: center;
	border-left: 1.2px dashed #939393;
	font-size: 1.5rem;
	padding-left: .375rem;
	padding-right: .375rem;
	padding-bottom: 0rem;
	padding-top: .5rem;
	margin-bottom: 0px;
}

.icon-white {
	color: #fff;
}

.main_nav_item_dropdown:hover a {
	color: white;
}

.main_nav_item_dropdown a:hover {
	color: #fe435b;
}

.dropdown-menu a:hover {
	color: #fe435b;
}

.contact, .profile {
	height: 55vh;
	width: 100%;
}

.small-banner {
	height: inherit;
	width: inherit;
}

.small-banner img {
	height: inherit;
	width: inherit;
}

.trip_picture {
	margin-bottom: 0;
	width: 100%;
	padding: 2px;
}

.trip_picture img {
	width: 100%;
}

.google-map {
	margin-top: 40px;
}

.devise-form {
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

.contact_content {
	margin-top: 30px;
}

.delete_btn {
	float: none;
	margin: auto;
	width: 100%;
	background-color: black;
}

.delete_btn:hover {
	background-color: grey;
}

.find {
	margin-top: -190px;
	padding-top: 20px;
	padding-bottom: 70px;
}

.find_background {
	background-color: #131a2f;
	opacity: 0.8;
}

.find_item {
	padding-left: 0;
	padding-right: 0;
}

.find_item input {
	background-color: #131a2f;
}

.search_container {
	width: 70vw;
	margin: auto;
}

.search-plane {
	font-size: 80px;
	color: #fe435b;
}

.btn-search-plane {
	margin-top: 20px;
	margin-left: 70px;
	background: none;
	border: none;
}
