	/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

*= require styles/bootstrap4/bootstrap.min

*= require plugins/font-awesome-4.7.0/css/font-awesome.min
*= require plugins/OwlCarousel2-2.2.1/owl.carousel
*= require plugins/OwlCarousel2-2.2.1/owl.theme.default
*= require plugins/OwlCarousel2-2.2.1/animate
*= require plugins/magnific-popup/magnific-popup

*= require styles/main_styles
*= require styles/responsive
*= require styles/elements_styles
*= require styles/elements_responsive
*= require styles/news_styles
*= require styles/news_responsive
*= require styles/contact_styles
*= require styles/contact_responsive
*= require styles/about_styles
*= require styles/about_responsive
*= require styles/offers_styles
*= require styles/offers_responsive

*= require_tree .
*= require_self

*/

.footer {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.footer_about_text {
	width: 60%;
	margin: auto;
}

.find {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.logo a {
	color: white;
}

.header a {
	outline: none;
}

.alert{
	position:fixed;
	margin-left: 30%;
	margin-right: 30%;
    width: 40%;
    z-index:9999;
	text-align: center;
}

.div-center {
		display: inline-block;
}

.home_content_inner a:hover {
	color: white;

}

.home_content_banner {
	margin-top: -8vh;
}

table {
	border-collapse: collapse;
}

td {
	border: 0;
}


.card {
	width: 22rem;
	padding: 6px;
	margin: 0 auto;
	float: none;
    margin-bottom: 10px;
    text-align: center;
}

.card-row {
	padding-bottom: 2rem;
}

.card-departure-time {
	text-align: right;
	padding-right: .375rem;
	padding-left: .375rem;
	padding-top: .5rem;
	font-size: 1.5rem;
	padding-bottom: .5rem;
	line-height: 1.4;
	margin-bottom: 0px;
}

.card-departure-place {
	text-align: right;
	padding-right: .375rem;
	padding-left: .375rem;
	font-size: 1rem;
	padding-top: 0px;
}

.card-duration {
	text-align: center;
	padding-right: .375rem;
	padding-left: .375rem;
	margin-bottom: 1px;
	line-height: 20px;
}

.card-arrival-time {
	text-align: left;
	font-size: 1.5rem;
	padding-left: .375rem;
	padding-right: .375rem;
	padding-bottom: .5rem;
	padding-top: .5rem;
	line-height: 1.4;
	margin-bottom: 0px;
}

.card-arrival-place {
	text-align: left;
	padding-left: .375rem;
	padding-right: .375rem;
	font-size: 1rem;
}

.card-price {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	padding-top: 1rem;


}

.card-icon-favorite {
	vertical-align: text-top;
	text-align: center;
	padding-right: .2rem;
	padding-top: .2rem;
	font-size: 1.5rem;
	padding-bottom: 0rem;
	margin-bottom: 0px;

}

.card-book {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: .375rem;
	margin-right: -1.4rem;
	margin-top: -1.4rem;
	margin-bottom: 2px;

}

.card-details {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: .375rem;
	padding-right: .375rem;
	padding-bottom: .5rem;
	padding-top: .5rem;
	margin-bottom: 0px;

}

.card-button {
	text-align: center;
}

.icon_image {
	width: 2rem;
}

td.font-weight-normal {
	vertical-align: bottom;
	padding: 0px;
}

td.float-right {
	border-left: 2px;
}

.cell-price {
	text-align: center;
	padding-left: .6rem;
	padding-top: 0px;
	border-left: 1.2px dashed #939393;
}

.icon-image {
    width: 2px;
    height: 2px;
}

.card-show-flight-main {
	padding-bottom: 10rem;
}

.card-show-departure {
	text-align: right;
	padding-right: .375rem;
	padding-left: .375rem;
	padding-top: .5rem;
	font-size: 1.5rem;
	padding-bottom: 1rem;
	line-height: 1.4;
	margin-bottom: 0px;
}

.card-show-arrival {
	text-align: left;
	font-size: 1.5rem;
	padding-left: .375rem;
	padding-right: .375rem;
	padding-bottom: 1rem;
	padding-top: .5rem;
	line-height: 1.4;
	margin-bottom: 0px;
}

.card-show-flight-wrap {
	border-top: 2px dotted #939393;
}

.card-show-flight-details
{
	text-align: center;
	font-size: 1rem;
	padding-top: 1rem;
	padding-bottom: .5rem;
	line-height: 2;
	margin-bottom: 0px;
}

.card-show-td-button {
	padding-bottom: 1rem;
}

.card-show-price {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: .375rem;
	padding-right: .375rem;
}

.card-favorites {
	width: 45rem;
	padding: 6px;
	margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card-favorites-price {
	text-align: center;
	border-left: 1.2px dashed #939393;
	font-size: 1.5rem;
	padding-left: .375rem;
	padding-right: .375rem;
	padding-bottom: 0rem;
	padding-top: .5rem;
	margin-bottom: 0px;
}

.main_nav_item_dropdown:hover a {
	color: white;
}

.main_nav_item_dropdown a:hover {
	color: #fe435b;
}

#connect_button {
	color: #3a3a3a;
}
#connect_button:hover {
	color: #fe435b;
}

.dropdown-menu a:active {
	color: #3a3a3a;
}

.contact, .profile {
	height: 55vh;
	width: 100%;
}

.small-banner {
	height: inherit;
	width: inherit;
}

.small-banner img {
	height: inherit;
	width: inherit;
}

.trip_picture {
	margin-bottom: 0;
	width: 100%;
	padding: 2px;
}

.trip_picture img {
	width: 100%;
}

.google-map {
	margin-top: 40px;
}

.devise-form {
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

.contact_content {
	margin-top: 30px;
}

.delete_btn {
	float: none;
	margin: auto;
	width: 100%;
	background-color: black;
}

.delete_btn:hover {
	background-color: grey;
}

.find {
	margin-top: -190px;
	padding-top: 20px;
	padding-bottom: 70px;
}

.find_background {
	background-color: #131a2f;
}

.find_item {
	padding-left: 0;
	padding-right: 0;
}

.find_item input {
	background-color: white;
	color: black;
}

.search_container {
	width: 70vw;
	margin: auto;
}

.search-plane {
	color: #FFFFFF;
	margin-top: 20px;

}
.search-plane:hover {
	color: #fe435b;
}

.btn-search-plane {
	margin-top: 15px;
	margin-left: 30px;
	background: none;
	border: none;
	font-size: 40px;
}

.page-link {
	color: #131a2f;
}

.page-item {
	color: #131a2f;
	border: 1.5px solid #131a2f;
}

.page-item a:hover {
	background-color: #131a2f;
	color: #FFFFFF;
	border: 1.5px solid #fe435b;
}

li.ui-menu-item .ui-menu-item-wrapper {
	color: black !important;
}

li.ui-menu-item .ui-menu-item-wrapper:hover {
	background-color: #fe435b;
	border: none;
}

.icon_star_default {
  background-color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border: none;
  fill: white;
  outline:none;
  color: #cecece;
}

.icon_star_yellow {
  background-color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border: none;
  fill: white;
  outline:none;
  color: #eec70d;
}

.btn-delete-search {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
	color: #FFFFFF;
	padding: 10px 98px;
	font-size: 25px;
 }

  @keyframes sk-bounce {
	0%, 100% {
	  transform: scale(0.0);
	  -webkit-transform: scale(0.0);
	} 50% {
	  transform: scale(1.0);
	  -webkit-transform: scale(1.0);
	}
}

.remember_me {
  	color: #1c2336;
}

.btn-delete-search:hover {
	color: #fe435b;
}

.proposition_value_text{
	font-size: 18px;
	color: black;
	padding-top: 50px;
	padding-bottom: 25px;
}

.services{
	padding-top: 20px;
}

.contact_title{
	padding-top: 40px;
}

.contact_subtitle{
	padding-bottom: 40px;
}

.order-details{
	width: 500px;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 25px;
	font-size: 25px;
	color: black;
}

.list-group-item{
	padding-top: 25px;
	padding-bottom: 25px;
}

.stripe-reserv-button{
	margin:auto;
	width: 100px;
	padding-bottom: 150px;
}

.order-details, .card{
	width: 600px;
	color: black;
	text-align: center;
}

.table{
	width: 1000px;
	margin: auto;
	color:black;
	margin-top: 75px;
	margin-bottom: 400px;
	font-size: 17px;
}

.table, .td{
	padding-top: 8px;
}

.card_registered {
	width: 100%;
	height: 180px;
	display: flex;
	margin-bottom: 25px;
}

.card_registered_row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.card_registered_column{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.card_registered_departure{
	height: 85px;
	margin: 20px 0px 0px 170px;
	width: 250px;
}

.card_registered_arrival{
	height: 85px;
	margin: 0px 0px 0px 170px;
	width: 250px;
}

.card_registered_departure_date{
	height: 85px;
	margin: 20px 0px 0px 170px;
	width: 250px;
}
.card_registered_arrival_date{
	height: 85px;
	margin: 0px 0px 0px 170px;
	width: 250px;
}

.card_registered_button_search{
	height: 85px;
	margin: 15px 29px 17px 0px;
}

.card_registered_button_delete{
	height: 85px;
	margin: 0px 0px 0px 0px;
}

.empty_search_text{
	margin-left: 459px;
	margin-right: 459px;
	margin-bottom: 20px;
	color: #364157;
	font-size: 145%;
}

.empty_search_text_2{
	margin-left: 459px;
	margin-right: 459px;
	color: #364157;
	font-size: 85%;
}

.button_blue_apisearch{
	margin-left: 531px;
	margin-right: 531px;
	margin-top: 20px;
}

.contact_form_container, .placeholder{
	color: #131a2f;
}

.contact_send_btn{
    width: 100%;
	text-align: center;
	margin-bottom: 15px;
}

.contact_form_container{
	padding-top: 80px;
	padding-bottom: 70px;
}

.section_title_registration{
	width: 100%;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}

.section_title_favorites{
	width: 100%;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}

.section_title_apisearch{
	width: 100%;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}

.button_profiles_registration{
	background-color: #fe435b;
	border: none;
	color: white;
	padding: 15px 39px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.button_profiles_favorites{
	background-color: #fe435b;
	border: none;
	color: white;
	padding: 15px 51px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}


.button_profiles_apisearch{
	background-color: #fe435b;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}