	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 footer_col">
					<div class="footer_about">
						<div class="logo_container">
							<div class="logo">
								<div>zigzago</div>
								<div> Travel your way </div>
								<%= image_tag("logo.png", class: "logo_image") %>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 footer_col">
					<div class="footer_about">
						<div class="footer_title"> Plan du site </div>
				            <div class="footer_about_text">
				            	<ul class="main_nav_list">
								<li class="footer_nav_item"><%= link_to 'Accueil', root_path %></li>
								<li class="footer_nav_item"><%= link_to 'A propos', root_path %></li>
								<li class="footer_nav_item"><%= link_to 'Contact', root_path %></li>
							</ul>
				            </div>
					</div>
				</div>

				<div class="col-lg-4 footer_col">
					<div class="footer_about">
						<div class="footer_title"> Newsletter </div>
						<div class="footer_about_text">Laissez-nous vous dénicher les meilleures offres ! En vous abonnant recevez :<br>- Des bons plans vols<br>- Des promos<br>- Des inspis voyages</div>
						<button type="submit" id="newsletter_footer_button" class="newsletter_footer_button">S'inscrire</button>
				    </div>
				</div>

			</div>
		</div>
	</footer>
